<%namespace name='static' file='/static_content.html'/>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="${static.url(static.get_value('favicon_path', settings.FAVICON_PATH))}" />
    <title>FUNiX - Learn with Mentors</title>
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              primary: "#3C6AF3",
            },
            boxShadow: {
              'bottom': '0px 25px 90px -57px #1069fe',
            }
          },
        },
      };
    </script>
</head>
<body>
  <main class="h-full flex flex-col md:flex-row justify-center items-center gap-8 p-[20px] md:p-0">
    <div class="hidden md:block self-center">
      <div>
        <img src="${static.url("images/pending_user/group-phone.png")}" alt="student">
      </div>
      <div class="italic text-sm text-center w-[650px]">
        <div>Bạn làm theo hướng dẫn từng bước trên đây để book lịch học thử với gia sư. Nếu có bất kỳ vướng mắc nào cần giải đáp, bạn vui lòng liên hệ email hoặc hotline FUNiX dưới đây!</div>
        <div>Hotline: 078.2313.602 (Zalo/Viber) </div>
        <div>Email: info@funix.edu.vn</div>
      </div>
    </div>

    <div class="text-center self-center mb-4 w-fit md:w-[530px] mt-0 md:mt-6">
      <div class="p-6 shadow-bottom ">
        <div class="font-bold text-2xl md:text-3xl mb-3 text-primary">Đăng ký tài khoản</div>
        <div class="font-bold text-base md:text-xl text-orange-500 my-2">CHỦ ĐỘNG BOOK LỊCH - HỌC THỬ MIỄN PHÍ</div>
        <div class="italic text-primary text-sm md:text-base">Phụ huynh/học viên sau khi đăng ký học thử, có thể chủ động book trên hệ thống tự động  lựa chọn gia sư và lịch học theo nhu cầu.</div>
        <div class="text-md font-semibold mt-4 md:mt-8 mb-1 md:mb-2">Vui lòng nhập thông tin dưới đây</div>
        <form action="" class="flex flex-col items-center">
          <div class="flex justify-start items-center gap-3 bg-neutral-100 py-4 px-6 w-full md:w-[80%] rounded-md my-2 md:my-4">
            <img class="grow-0 shrink-0 basis-1 h-[14px]" src="${static.url("images/pending_user/user-vector.png")}" alt="user">
            <input class="w-full md:w-80 text-sm md:text-base bg-transparent outline-none" type="text" name="username" placeholder="Họ và tên *">
          </div>
          <div class="flex justify-start items-center gap-3 bg-neutral-100 py-4 px-6 w-full md:w-[80%] rounded-md my-2 md:my-4">
            <img class="grow-0 shrink-0 basis-1 h-[14px]" src="${static.url("images/pending_user/phone-vector.png")}" alt="lock">
            <input class="w-full md:w-80 text-sm md:text-base bg-transparent outline-none" type="number" name="phone" placeholder="Số điện thoại *">
          </div>
          <div class="flex justify-start items-center gap-3 bg-neutral-100 py-4 px-6 w-full md:w-[80%] rounded-md my-2 md:my-4">
            <img class="grow-0 shrink-0 basis-1 h-[14px]" src="${static.url("images/pending_user/email-vector.png")}" alt="lock">
            <input class="w-full md:w-80 text-sm md:text-base bg-transparent outline-none" type="email" name="email" placeholder="Email">
          </div>

          <div class="mt-6 md:mt-8 mb-4 w-full md:w-[80%]">
            <button type="submit" class="bg-primary text-white w-full py-4 font-semibold rounded-md hover:bg-blue-700" id="send-otp">Đăng ký</button>
          </div>
          <div class="text-xs md:text-sm italic flex justify-center items-center gap-2 w-full md:w-[80%]">Vui lòng nhập chính xác số điện thoại, hệ thống sẽ gửi mã OTP xác nhận đăng ký đến số điện thoại của quý khách. </div>
        </form>
      </div>
    </div>

    <div id="overlay" class="fixed inset-0 flex items-center justify-center z-50 bg-black bg-opacity-50 hidden">
      <div class="border-gray-300 h-20 w-20 animate-spin rounded-full border-8 border-t-blue-600" />
    </div>
  </main>

    <script src="${static.url('js/pending_user/handle-utm-source.js')}"></script>
    <script>
        const portalUrl = 'https://portal-staging.funix.edu.vn';
        document.addEventListener('DOMContentLoaded', function() {
            const sendOtpButton = document.querySelector('#send-otp');

            const phoneInput = document.querySelector('input[name="phone"]');
            const usernameInput = document.querySelector('input[name="username"]');
            const emailInput = document.querySelector('input[name="email"]');

            const overlay = document.getElementById('overlay');

            // get query params from url
            const urlParams = new URLSearchParams(window.location.search);
            const phone = urlParams.get('p');
            const courseId = urlParams.get('ci');

            if (phone) {
                phoneInput.value = atob(phone);
            }
            if (courseId) {
                // save courseId to localStorage
                localStorage.setItem('ci', courseId);
            }

            sendOtpButton.addEventListener('click', async function(event) {
                event.preventDefault();
                const phone = phoneInput.value;
                const username = usernameInput.value;

                if (!username) {
                    alert('Vui lòng nhập họ và tên.');
                    return;
                }

                const phoneRegex = /^(84|0)\d{9}$/;
                if (!phoneRegex.test(phone)) {
                    alert('Vui lòng nhập số điện thoại hợp lệ.');
                    return;
                }
                const format84Phone = convertPhoneToFormat84(phone);
                const phone10DiditFormat = convertPhoneTo10DigitFormat(phone);
                const encodedPhone = btoa(phone);

                overlay.classList.remove('hidden');
                try {
                    let leadId = await checkLeadExist(format84Phone);
                    leadId = leadId ? leadId : await checkLeadExist(phone10DiditFormat);

                    if (!leadId) {
                        leadId = await createLead();
                    }

                    if (leadId) {
                        // Save leadId to localStorage
                        localStorage.setItem('li', leadId);

                        const isExistenceStudent = await checkExistenceStudent(format84Phone);
                        
                        if (isExistenceStudent) {
                            displayNotiStudentExist();
                            return;
                        }

                        const data = await sendOtp(format84Phone);
                        // Redirect to verify-phone
                        window.location.href = 'verify-phone?p=' + encodedPhone;
                        return;
                    }
                } catch (error) {
                    overlay.classList.add('hidden');
                    alert(error.message);
                }
            });

            const createLead = async() => {
              const infoHannix = JSON.parse(localStorage.getItem('account_hannix')) ? JSON.parse(localStorage.getItem('account_hannix')) : {utm_source_giasu: '', mid_giasu: ''};
              const inputValue = {
                fullname: usernameInput.value,
                phone: phoneInput.value,
                email: emailInput.value,
                utm_source: infoHannix.utm_source_giasu,
                mid: infoHannix.mid_giasu
              }
              
              const createLeadUrl = portalUrl + '/api/v1/private_teacher/create_lead';
              const res = await fetch(createLeadUrl, {
                method: 'POST',
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(inputValue)
              });

              const data = await res.json();
              if(data.error === '') {
                
                const leadId = data.data[0][0];
                return leadId;
              } else {
                console.error('Error:', data);
                throw new Error('Đăng ký thất bại vui lòng thử lại!');
              }
            };
        });

        const convertPhoneToFormat84 = (phone) => {
            const format84Phone = phone.replace(/^0/, '84');
            return format84Phone;
        }

        const convertPhoneTo10DigitFormat = (phone) => {
          const phone10DiditFormat = phone.replace(/^84/, '0');
          return phone10DiditFormat;
        }

        const checkLeadExist = async (format84Phone) => {
            try {
                const apiExistenceLead = portalUrl + '/api/v1/private_teacher/existence_lead?phone=' + format84Phone;
                const response = await fetch(apiExistenceLead, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });
        
                const data = await response.json();
        
                if (data.data) {
                    return data.data[0][0];
                } else {
                    return false;
                }
            } catch (error) {
                console.error('Error:', error);
                throw error;
            }
        }

        const checkExistenceStudent = async (format84Phone) => {
            try {
                const apiExistenceStudent = portalUrl + '/api/v1/private_teacher/existence_student?phone=' + format84Phone;
                const response = await fetch(apiExistenceStudent, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });
        
                const data = await response.json();
        
                if (data.data) {
                    return true;
                } else {
                    return false;
                }
            } catch (error) {
                console.error('Error:', error);
                throw error;
            }
        }

        const sendOtp = async (format84Phone) => {
            try {
                let csrfToken = document.cookie.split('; ').find(row => row.startsWith('csrftoken=')).split('=')[1];
                
                const currentUrl = window.location.origin;
                const sendOtpUrl = currentUrl + '/api-pending-user/send-otp';
                const response = await fetch(sendOtpUrl, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken,
                    },
                    body: JSON.stringify({ 
                      phone: format84Phone,
                    }),
                });
        
                const data = await response.json();
        
                if (data.success) {
                    return data;
                } else {
                    throw new Error('Gửi mã OTP không thành công. Xin vui lòng thử lại.');
                }
            } catch (error) {
                console.error('Error:', error);
                throw error;
            }
        }

        const displayNotiStudentExist = () => {
            if(form.classList.contains('form-hidden')) {
              form.classList.remove('form-hidden');
            }
            
            form.innerHTML = `
            <div class="form-register">
              <div onClick=onClose() class="form-register__close">x</div>
              <div class="text-center text-white text-[40px] font-semibold leading-[48px]">BẠN ĐÃ CÓ TÀI KHOẢN FUNIX?</div>
              <div class="text-center text-white text-xl font-semibold leading-[48px]">Hãy liên hệ với Hannah/ Hannix để được hướng dẫn đăng nhập nhé</div>
            </div>
            `;
        }
    </script>
</body>
</html>